/* Reset default margin/padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.site-header {
  background-color: #0078be; /* Blue background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  color: white;

}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  margin-right: 10px;
}


.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #FFD700;
}
.img-site{
  width: 100%;
  height: 100%;
  justify-content: center;
  
}
.Home{
  min-height: 125vh;
  display: flex;
  align-items: center;
  background: url(img/WhatsApp\ Image\ 2025-07-17\ at\ 19.10.36_f316f9bd.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
section{
  padding: 2rem 7%;
}
.Home .content{
  max-width: 60rem;

}
.Home .content h3{
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}
.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: 7rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}




